body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

/*  Navigation Bar */
.navigationBar {
  background-color: #f7fbfc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
}

.navigationBar a {
  color: #769fcd;
  font-size: 3vh;
  text-decoration: none;
  margin: 10px 50px;
}

.navbarMenu a {
  float: right;
}

.navbarName {
  float: left;
  font-family: 'Sacramento', cursive;
  font-weight: 600;
}

.navigationBar a:hover{
  opacity: 50%;
}
