body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  color: #769fcd;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 0 auto 0 auto;
  /*
    100% = 16px; 1em = 16px;
    rem = root em: ignores parent inherited em;
    */
    position: relative;
    top: 100px;
}

h3 {
  color: #b9d7ea;
  font-family: 'Merriweather', serif;
}

.topContainer h2 {
  color: #769fcd;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 100px 0 0 0;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 50px auto 50px auto;
}

/*  Navigation Bar */
.navigationBar {
  background-color: #f7fbfc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
}

.navigationBar a {
  color: #769fcd;
  font-size: 3vh;
  text-decoration: none;
  margin: 10px 50px;
}

.navbarMenu a {
  float: right;
}

.navbarName {
  float: left;
  font-family: 'Sacramento', cursive;
  font-weight: 600;
  margin: 10px 10px 50px 10px;
}

.navigationBar a:hover{
  opacity: 50%;
}

/* Home Page */

.topContainer {
  background-color: #f7fbfc;
  margin: 0;
  position: relative;
  height: 100vh;
  align-items: center;
}

.introduction {
  position: relative;
  top: 10%;
}

.botCloud {
  position: absolute;
  left: 500px;
  top: 300px;
}

.myName {
  text-decoration: underline;
}

.topCloud {
  position: absolute;
  right: 500px;
  top: 40px;
  padding: 20px;
}

.mountain {
  position: absolute;
  bottom: 0;
  margin: 0 auto 0 auto;
}

.midContainer {
    margin: 100px 0;
}

.midContainer h2{
  color: #769fcd;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  position: relative;
  margin: 50px auto 50px auto;
  text-align: left;
  overflow: hidden;
}

.programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webDev {
  max-width: 25%;
  float: right;
}

.contact-me {
  margin: 20px auto 50px;
}

.contact-desc {
  margin-bottom: 50px;
  width: 40%;
  margin: 50px auto;
}

.mybtn {
  background-color:#f7fbfc;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #769fcd;
}

.mybtn:hover {
  border: solid;
  border-color: #f7fbfc;
  background-color: white;
}

.botContainer {
  background-color: #769fcd;
  padding: 20px;
}

.footer-link {
  margin: auto 10px auto 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: black;
}

.copyright {
  font-size: 10px;
  color: white;
}

.ventalk {
  color: #3f72af;
  text-decoration: none;
  font-weight: bold;
}
